.greenbox {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 0 auto;
}
.bluebox {
    width: 300px;   
    
    background-color: blue;
    margin: 0 auto;
}
.Name1 {
    width: 90px;
    background-color: rgb(255, 0, 157);
    background-position: left;
    color: black;
    margin: 0 auto;
}
