.greenbox {
    width: 200px;
    height: 200px;
    background-color: green;
    margin: 0 auto;
}
.bluebox {
    width: 300px;
    height: 80px;
    
    background-color: blue;
    margin: 0 auto;
}
.Name1 {
    width: 80px;
    background-color: aqua;
    color: black;
    margin: 0 auto;
}
